[% INCLUDE admin/header.tt
   title = 'Today\'s Word Admin - Add Crossword' %]

<center>
<div id="AddCrossword" class="FormContainer">
    <h1>Add Crossword</h1>
    [% IF error_message %]<p class="error">[% error_message %]</p>[% END %]
    <div id="add_game_div">
        <p class="error">[% error_msg %]</p>
        [%# Render the HTML::FormHandler Form %]
        [% form.render %]
    </div>
</div>
</center>

[% INCLUDE admin/footer.tt %]

