[% INCLUDE admin/header.tt
   title = 'Today\'s Word Admin - Add Article' %]

<center>
<div id="AddArticle" class="FormContainer">
    <h1>Add Article</h1>
    [% IF error_message %]<p class="error">[% error_message %]</p>[% END %]
    <div id="article_div">
        <p class="error">[% error_msg %]</p>
        [% form.render %]
    </div>
</div>
</center>

[% INCLUDE admin/footer.tt %]
