<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <title>[% title %] Today's Word</title>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />

    <meta name="description" content="Social network for word game lovers" />
    <meta name="keywords" content="" />

    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />

    <script type="text/javascript" src="/static/js/mootools.js"></script>
    <script type="text/javascript" src="/static/js/mooPatch.js"></script>
    <script type="text/javascript" src="/static/js/todaysword.js"></script>

    <link type="text/css" rel="stylesheet" media="screen" href="/static/css/todaysword.css" />
    <link type="text/css" rel="stylesheet" media="screen" href="/static/css/playnow.css" />
    [% IF authorized_ip %]
    <link type="text/css" rel="stylesheet" media="screen" href="/static/css/games.css" />
    <link type="text/css" rel="stylesheet" media="screen" href="/static/css/admin.css" />
    [% END %]   
    
    <script type="text/javascript" language="JavaScript">
    window.addEvent('domready', function() { 
        initAdmin();
    });
    </script>
</head>
<body id="bodywrap">
<body>
    <div class="wrapper">
    <center>
    <div id="header_bar">
        <center>
            <div id="header_wrapper">
                <a class="logo" href="/admin">Today's Word Admin</a>
                [% INCLUDE site_links.tt %]
            </div>
        </center>
    </div>
    <div id="header_shadow"></div>
    <div id="main">


