[% INCLUDE admin/header.tt
   title = 'Today\'s Word Admin - Add Advert' %]

<center>
<div id="AddAdvert" class="FormContainer">
    <h1>Add Advert</h1>
    [% IF error_message %]<p class="error">[% error_message %]</p>[% END %]
    <div id="add_game_div">
        <p class="error">[% error_msg %]</p>
        [% form.render %]
    </div>
</div>
</center>

[% INCLUDE admin/footer.tt %]


